extends ../layouts/default

block content
	.container: .jumbotron
		img(src='/images/d-pac-logo_colour.png', width='160')
		h1 Welcome
		p D-PAC.
		hr
		if user && user.canAccessKeystone
			p
				a(href='/keystone/signin').btn.btn-lg.btn-primary Open the Admin UI
		else
			p We have created a default Admin user for you with the email <strong>user@keystonejs.com</strong> and the password <strong>admin</strong>.
			p
				a(href='/keystone/signin', style='margin-right: 10px').btn.btn-lg.btn-primary Sign in
				|  to use the Admin UI.
