lib-cov
*.seed
*.log
*.dat
*.out
*.pid
*.gz
atlassian-*
uploads

pids
logs
results

npm-debug.log
node_modules*

.DS_Store

*env*
!EXAMPLE.env
*-mocks.js
.grunt
public/assessors
reports

shipping/*

batch/*
!batch/*.js

archive

shipitfile.js
google*.html
.ssh
