lib-cov
*.seed
*.log
*.dat
*.out
*.pid
*.gz
atlassian-*
uploads

pids
logs
results

npm-debug.log
node_modules

.DS_Store

.env*
*-mocks.js
.grunt
public/assessors
*.sh
reports

shipping/*
!shipping/EXAMPLE.js

batch/*
!batch/*.js
