extends /layouts/default

block body-contents
	h1 Hi #{first_name},
	p.text-larger Click the button below to reset your password for #{brand}
	p &nbsp;
	+button({
		url: reset.url,
		label: 'Reset password'
	})
	p &nbsp;
	p.text-muted Expires on #{reset.expires.format( 'Do MMMM YYYY' )}
